

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
  }
  header {
    background-color: #333;
    padding: 1rem;
    color: white;
    text-align: center;
  }
  main {
    padding: 1rem;
  }